<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Generator!</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <!-- Nav bar -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Ad AId</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- Main nav, hidden for small screens -->
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/stuff"><i class="material-icons left">list</i>Inventory</a></li>
                    <li><a href="/login" class="btn blue">Login</a></li>
                    <li><a href="/logout" class="btn red">Logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- Mobile nav menu, shown when menu button clicked --> 
        <ul id="mobile-nav" class="sidenav">
    <!-- Materialize JavaScript 
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements
    <script src="/scripts/materializeAutoinit.js"></script>-->

            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/index"><i class="material-icons left">list</i>Inventory</a></li>
            <li><a href="/login" class="btn blue">Login</a></li>
            <li><a href="/logout" class="btn red">Logout</a></li>
        </ul>
    </header>
    <div class="center-align">
        <h1 >The Ad AId</h1>
        <div class="section">
            <div class="section" id="stuffAdd">
                <h2>What is your product like?</h2>
                <form method="POST" action="/ads"> 
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="nameInput">Product Name:</label>
                            <input type="text" name="name" id="nameInput" class="validate invalid" data-length="32">
                        </div>
                        <div class="input-field col s6">
                            <label for="problemInput" > What problem is the product attemtping to solve?</label>
                            <input type="text" name="problem" id="problemInput" class="validate invalid" data-length="32"
                                required="">
                        </div>
                        <div class="input-field col s6">
                            <label for="detailInput">Extra details?</label>
                            <input type="text" name="details" id="detailInput" class="validate invalid" data-length="32"
                                required="">
                        </div>

                        <div class="input-field col s6">
                            <label for="pointsInput">Marketing points and techniques you want to use?</label>
                            <input type="text" name="points" id="pointsInput" class="validate invalid" data-length="32"
                                required="">
                        </div>

                    </div>
                    <button class="btn waves-effect waves-light" type="submit">
                        <i class="material-icons right">send</i>
                        Submit
                    </button>
                </form>
            </div>
        </div>
    -->

        <div class="section center-align" id="stuffList">
            <h2>Product inventory and details:</h2>
            <table class="highlight centered">
                <thead>

                    <tr>
                        <th>Product</th>
                        <th>Ad Rating</th>
                        <th>Time To Read (s)</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <% for (let i = 0; i < inventory.length; i++) { %>

                    
                    <tr>
                        <td><%= inventory[i].product_name %></td>
                        <td><%= inventory[i].ad_rating %></td>
                        <td>32</td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href= "/ads/item/<%= inventory[i].ad_id %>">
                                <i class="material-icons right">edit</i>
                                Info/Edit
                            </a>
                            <a class="btn-small waves-effect waves-light red" href="/ads/item/<%= inventory[i].ad_id %>/delete">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div>
            <a class="btn-small waves-effect waves-light" href="/">
                <i class="material-icons left">arrow_back</i>Return to homepage
            </a>
        </div>
    </div>

    <script src="/material.js"></script>

</body>

</html>