<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ad AId</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="container">
        <h1 class="center-align">Welcome to <em>AD <strong>AI</strong>d</em>!</h1>
        <h2 class="center-align">This website can <em><strong>make your ads</strong></em> using AI technology!</h2>
        <div class="center-align">
            <a class="waves-effect waves-light btn-large" href="/ads">
                <i class="material-icons right">arrow_forward</i>
                Get started!
            </a>
        </div>
    </div>
    <img src="/images/clutter-clipart.jpg">
</body>

</html>