<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ad AId</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="style.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/jpg" href="images/favicon.ico">

</head>

<body>
    <!-- Nav bar -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Ad AId</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- Main nav, hidden for small screens -->
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/ads"><i class="material-icons left">list</i>Inventory</a></li>
                    <% if (isLoggedIn) { %>
                        <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                        <li><a href="/logout" class="btn red">Logout</a></li>                        
                    <% } else { %>
                        <li><a href="/login" class="btn blue">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <!-- Mobile nav menu, shown when menu button clicked -->
        <ul id="mobile-nav" class="sidenav">

            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/stuff"><i class="material-icons left">list</i>Inventory</a></li>
            <% if (isLoggedIn) { %>
                <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                <li><a href="/logout" class="btn red">Logout</a></li>                        
            <% } else { %>
                <li><a href="/login" class="btn blue">Login</a></li>
            <% } %>
        </ul>
    </header>

    <div class="container">
        
        <h1 class="center-align">Welcome to <em>AD <strong>AI</strong>d</em>!</h1>
        <h2 class="center-align">This website can <em><strong>make your ads</strong></em> using AI technology!</h2>
        <div class="center-align">
            <!-- need a class = for a button and also color -->
            <a href="/login">
                <button>Login</button>
            </a>
            <a class="waves-effect waves-light btn-large" href="/ads">
                <i class="material-icons right">arrow_forward</i>
                Get started!
            </a>
        </div>
    </div>
    <img src="/images/clutter-clipart.jpg">
    <script src="/material.js"></script>

</body>

</html>