<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Inventory</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body data-new-gr-c-s-check-loaded="14.1091.0" data-gr-ext-installed="">

    <!-- Actual page content! -->
    <div class="container">
        <div class="section flow-text" id="stuffDetail">
            <h1>Product and ad details:</h1>
            <a class="btn-small waves-effect waves-light" href="/ads">
                <i class="material-icons left">arrow_back</i>Return to Inventory
            </a>
            <table>
                <tbody><tr>
                    <th>Product:</th>
                    <td><%= product_name %></td>
                </tr>
                <tr>
                    <th>Rating:</th>
                    <td><%= ad_rating %></td>

                </tr>
                <tr>
                    <th>Feedback:</th>
                    <td>
                        <%= feedback %></td>
                    </td>
                </tr>
                <tr>
                    <th>Ad:</th>
                    <td>
                        ...
                    </td>
                </tr>
            </tbody></table>
        </div>

        <div class="section" id="stuffControls">
            <a class="btn-large waves-effect waves-light orange left modal-trigger" href="#stuffEdit">
                <i class="material-icons right">edit</i>
                Edit
            </a>
            <a class="btn-large waves-effect waves-light red right">
                <i class="material-icons right">delete</i>
                Delete
            </a>
        </div>


        <div class="modal" id="stuffEdit" tabindex="0">

            <div class="modal-content">

                <h2>Edit ad or product:</h2>
                <form method="POST" action="/ads/item/<%=id %>">
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="nameInput">Product Name:</label>
                            <input type="text" name="name" id="nameInput" class="validate" data-length="32" required="">
                        </div>
                        <div class="input-field col s6">
                            <label for="quantityInput" class="active">Your ad rating:</label>
                            <input type="number" name="quantity" id="quantityInput" value="1" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="descriptionInput">Prototype Description:</label>
                            <input type="text" name="description" id="descriptionInput" data-length="100">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light " type="submit">
                            <i class="material-icons right">send</i>
                            Submit
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat">Cancel edit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>



<link rel="stylesheet" type="text/css" href="chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/css/blur.css" class="loom-blur-styles"></body>